/*Шапка сайта*/
header {
  display: grid;
  grid-template-columns: max-content min-content 1fr;
  align-items: center;
  column-gap: 41px;
  padding: 91px 50px 98px 50px;
}
 
.header__menu {
  justify-self: start;
  width: 391.48px;
  height: 22px;
  font-weight: 400;
  font-size: 18px;
}

.header__links-list {
  display: flex;
  gap: 32.5px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item {
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__logo {
  justify-self: center;
  width: 138px;
  height: 105px;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  gap: 5px;
  width: 240px;
  font-weight: 400;
  font-size: 18px;
}

address a {
  text-decoration: underline;
  text-underline-offset: 3px;
}
/*Конец шапки сайта*/

/*Начало блока 'Оно тебе надо'*/

.cover {
  position: relative;
  width: 1100px;
  height: 757px;
  background: url('../images/cover.jpg');
  background-color: rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

.overlay {
  position: absolute;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 160px 50px 60px;
  color: #FFFF;
  font-weight: 700;
  font-size: 100px;
  font-style: bold;
  line-height: 1.2;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  inset: 0;
}

.aligned-text_center {
  margin-top: 15px;
  margin-left: 30px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 16px;
  margin-left: 614px;
  text-align: end;
}

.cover__description-text {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45.5px;
}

.cover__description-text p {
  margin-right: 107px;
  color: #FFFF;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  display: flex; 
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 256px;
  height: 51px;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  font-size: 22px;
  font-style: medium;
  text-transform: uppercase;
  background: transparent; 
}
 
/* Конец блока 'Оно тебе надо' */

/* Начало блока с карточками */

.lots__card-list {
  display: flex;
  flex-wrap: wrap;           /* чтобы переносились на новую строку при нехватке места */
  gap: 25px;                 /* расстояние между карточками */
  margin: 0;
  padding: 0;
  list-style: none;
}

.lots__heading {
  margin-top: 180px;
  margin-left: 64px;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
  text-transform: uppercase;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

/* Ссылка-обёртка */
.card-link {
  display: block;
  width: 100%;
  text-decoration: none;
}

/* Общий стиль карточки */
.card {
  display: flex;
  flex-direction: row;
  width: 334px;
  height: 596px;
  margin-top: 27px;
  margin-left: 24px;
  padding: 48.5px 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
}

/* Тип карточки — фильм */
.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

/* Тип карточки — книга */
.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

/* Тип карточки — картина */
.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

/* Заголовок карточки */
.card__title {
  font-weight: 700;
  font-size: 22px;
  font-style: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

/* Текст карточки */
.card__text {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* Ссылка "Читать далее" внутри карточки */
.lots__look-more-link {
  display: inline-block;
  margin-top: 15px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.card_type_film p {
  margin-top: 275px;
  line-height: 120%;
}

.card_type_book  p {
  margin-top: 34px;
  line-height: 120%;
}

.card_type_picture p {
  margin-top: 130px;
  line-height: 120%;
}

.lots__look-more {
  display: flex;
  margin-top: 29px;
  margin-left: 64px;
  font-weight: 400;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
}

/* Конец блока с лотами */

/* Начало контейнера 'Об аукционе' */ 

.about__column-main {
  display: flex;
  gap: 72px;
  margin-top: 155px;
  margin-left: 72px;
}

.about__logo {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title-and-text {
  display: flex;
  flex-direction: column;
  margin-top: 105px;
}

.about__title {
  margin: 0 0 103px 0;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text-bottom {
  margin-top: 25px;
}

/* Конец лотов */

/* Начало подвала */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 181px 50px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  line-height: 24px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-underline-offset: 4px;
  list-style: none;
}

.footer__social-list ul {
  display: flex;
  gap: 47px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
